<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns#">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Top</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <!-- META情報 -->
  <meta name="keywords" content="<@- meta.common.keywords @>">
  <meta name="description" content="<@- meta.common.description @>">
  <meta name="copyright" content="<@- meta.common.copyright @>">
  <!-- / META情報 -->
  <!-- OGP情報 -->
  <meta property="og:title" content="<@- meta.og.title @>">
  <meta property="og:description" content="<@- meta.og.description @>">
  <meta property="og:image" content="<@- meta.og.image @>">
  <meta property="og:url" content="<@- meta.og.url @>">
  <meta property="og:type" content="<@- meta.og.type @>">
  <meta property="og:site_name" content="<@- meta.og.site_name @>">
  <meta property="og:locale" content="ja_JP">
  <meta name="fb:app_id" content="<@- meta.og.fb_app_id @>">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<@- meta.og.title @>">
  <meta name="twitter:description" content="<@- meta.og.description @>">
  <meta name="twitter:site" content="<@- meta.og.tw_account @>">
  <meta name="twitter:image" content="<@- meta.og.image @>">
  <!-- / OGP情報 -->
  <!-- <link href="./assets/css/common.css" rel="stylesheet" media="all">
  <script src="./assets/js/ga.js"></script> -->
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon.png">
</head>
<body>

<@- include(`${rootPath}/src/view/common/_header`); @>

  <p>top</p>

<@- include(`${rootPath}/src/view/common/_footer`); @>

</body>
</html>