<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>top</title>
</head>
<body>

<@- include(`${rootPath}/src/view/common/_header`); @>

  <p>top</p>

<@- include(`${rootPath}/src/view/common/_footer`); @>

</body>
</html>